<div class="bg-base-100 w-full h-16 flex flex-wrap items-center justify-between">
    <!-- nav bar left -->

    <div class=" w-fit flex">
      <h1 class="btn btn-ghost text-2xl">
        <strong>Lost My Pillow</strong>
      </h1>
    </div>

    <!--  -->


    <!-- navbar center -->
    <div class="flex items-center justify-between order-last md:order-none w-1/2 md:w-1/2 h-11 px-4 py-2 gap-6">
  
          <button hx-trigger="click" hx-get="pages/about.html" hx-target="#content" hx-swap="innerHTML" class="">
            About Me
          </button>
    
          <button hx-trigger="click" hx-get="pages/projects.html" hx-target="#content" hx-swap="innerHTML">
            Projects
          </button>
        </li>

          <a href="https://github.com/lostmypillow" target="_blank" rel="noopener noreferrer" class="flex flex-row w-full items-center justify-center gap-2">
            GitHub
            <svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-external-link">
              <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
              <polyline points="15 3 21 3 21 9"></polyline>
              <line x1="10" y1="14" x2="21" y2="3"></line>
            </svg></a>

    </div>
    <!--  -->


    <!-- navbar end -->
    <div class=" flex lg:order-last">
      <button id="mobile-toggle" class="btn"></button>

    </div>


    <!--  -->
  </div>