:root {
font-family: system-ui, sans-serif !important ;
    background-color: #fecaca;
}
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html, body, #app {
  min-height: 100%;
}


button,
input,
select,
textarea {
    font-family: inherit;
}
