:root {
font-family: "Noto Sans TC", sans-serif !important ;
    background-color: #fecaca;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html, body, #app {
  min-height: 100%;
}


button,
input,
select,
textarea {
    font-family: inherit;
}
